<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <div class="layui-card-header">版本信息</div>
    <div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template="">
            <p>当前版本：{{version}}</p>
    </script>
        <div class="layui-btn-container">
            <!-- <a href="http://www.layui.com/admin/" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
            <a href="http://fly.layui.com/download/layuiAdmin/" target="_blank" class="layui-btn">下载新版</a> -->
        </div>
    </div>
    <div class="layui-card-header">关于版权</div>
    <div class="layui-card-body layui-text layadmin-about">
        <blockquote class="layui-elem-quote" style="border: none;">
            暂无说明
        </blockquote>
        <p>© 2018 
                <!-- <a href="/">**</a> 版权所有 -->
        </p>
    </div>
</body>

</html>