{% extends '../template/layout.html' %}

{% block content %}
<form class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">
    <input type="hidden" name="id" id="carStudentId" value="{{carStudent.id}}">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">基本信息</div>
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label required">姓名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" value="{{carStudent.name }}" required lay-verify="required"
                                        placeholder="" minlength="1" maxlength="10" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label required">证件号码</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="card" value="{{ carStudent.card }}" lay-verify="identity"
                                        placeholder="" autocomplete="off" class="layui-input" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">备注</div>
                    <div class="layui-card-body layui-row layui-col-space10">
                        <div class="layui-col-md12">
                            <textarea name="remark" placeholder="请输入" class="layui-textarea">{{carStudent.remark}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">报名相关
                        <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"
                            id="ajaxLoadingIco"></i>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label required">缴费类型</label>
                                <div class="layui-input-inline">
                                    <select name="cost" lay-verify="required" lay-filter="cost" id="cost">
                                        <option value=""></option>
                                        {% if carStudent.cost %}<option value="{{carStudent.cost}}" selected>{{carStudent.cost}}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label required">价格</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" type="number" lay-verify="number" name="price" value="{{carStudent.price}}"
                                        min="0" max="999999" id="price">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label required">缴费日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="registerDate" id="registerDate" value="{{carStudent.registerDate && carStudent.registerDate | date('Y-m-d')}}"
                                        id="LAY-component-form-group-date" lay-verify="date" placeholder="" required
                                        autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block script %}
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'js/lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function () {
        var admin = layui.admin
        var form = layui.form
        var layer = layui.layer
        var laydate = layui.laydate

        laydate.render({
            elem: '#registerDate'
        })
        var index = 1
        var cache = {}

        function renderSelect(name) {
            var cacheData = cache[name] = {}
            admin.req({
                type: 'get',
                url: '/api/' + name + 's?page=1&pageSize=999&name=&status=true',
                success: function (res) {
                    var selectEle = $('#' + name)
                    var selected = selectEle.val()
                    res.data.forEach(function (item) {
                        cacheData[item.name] = item
                        if (item.name == selected) return
                        var opt = $('<option></option>')
                        opt.text(item.name)
                        opt.attr('value', item.name)
                        selectEle.append(opt)
                    })
                    index--
                    if (!index) {
                        form.render('select')
                        $('#ajaxLoadingIco').hide()
                    }
                }
            })
        }
        renderSelect('cost')

        form.on('select(cost)', function (data) {
            if (data.value) {
                var name = data.value
                var price = cache['cost'][name].price || 0
                $('#price').val(price)
            } else {
                $('#price').val('')
            }

        });
        /* 监听提交 */
        form.on('submit(submit)', function (data) {
            var field = data.field
            field.subjects = getCheckBoxVal('subjects')
            field.carTypes = getCheckBoxVal('carTypes')
            field.status = !!field.status
            var carStudentId = $('#carStudentId').val()
            if (carStudentId) {
                admin.req({
                    type: 'put',
                    url: '/api/carStudents/' + carStudentId,
                    data: field,
                    success: function (res) {
                        layer.msg('保存成功')
                    }
                })
            } else {
                admin.req({
                    type: 'post',
                    url: '/api/carStudents',
                    data: field,
                    success: function (res) {
                        $('#rest')[0].click()
                        layer.msg('保存成功')
                    }
                })
            }
            return false;
        });

        function getCheckBoxVal(name) {
            var valArr = []
            $('[name=' + name + ']').each(function (index, ele) {
                if ($(ele).prop('checked')) {
                    valArr.push($(ele).val())
                }
            })
            return valArr
        }
    })
</script>
{% endblock %}