{% extends '../template/layout.html' %}
{% block link %}
<style>
    html,body {
        background: #fff;
    }
</style>
{% endblock %}
{% block content %}
<form class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" id="carStudentId" value="{{carStudent.id}}">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" value="{{carStudent.name}}" lay-verify="required" required placeholder=""
                    minlength="1" maxlength="10" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label required">证件号码</label>
            <div class="layui-input-inline">
                <input type="text" name="card" value="{{carStudent.card}}" lay-verify="identity" required placeholder=""
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">缴费类型</label>
            <div class="layui-input-inline">

                <select name="cost" lay-verify="required" lay-filter="cost" id="cost">
                    <option value=""></option>
                    {% if carStudent.cost %}<option value="{{carStudent.cost}}" selected>{{carStudent.cost}}</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label required">价格</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="number" lay-verify="number" name="price" value="{{carStudent.price}}"
                    min="0" max="999999" id="price">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">缴费状态</label>
            <div class="layui-input-inline">
                <input type="checkbox" lay-verify="required" lay-filter="state" name="state" lay-skin="switch" lay-text="已缴费|未缴费"
                    value="on" {% if carStudent.healthExamination %} checked="checked" {% endif %}> </div>
        </div>
    </div>
    <div class="layui-form-item" id="payDateArea" style="display:none">
        <label class="layui-form-label required">缴费日期</label>
        <div class="layui-input-block">
            <input type="text" name="payDate" id="payDate" value="{{carStudent.payDate && carStudent.payDate | date('Y-m-d')}}"
                lay-verify="date" placeholder="" s autocomplete="off" class="layui-input" lay-filter="payDate">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="请输入" class="layui-textarea">{{carStudent.remark}}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
            <!-- <button type="button" class="layui-btn layui-btn-primary" id="rest">重置</button> -->
        </div>
    </div>
</form>
{% endblock %}
{% block script %}
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'js/lib/index' //主入口模块
    }).use(['index', 'form', 'laydate', 'util'], function () {

        var admin = layui.admin
        var form = layui.form
        var layer = layui.layer
        var laydate = layui.laydate
        var util = layui.util
        $('#payDate').val(util.toDateString(new Date(), 'yyyy-MM-dd'))
        laydate.render({
            elem: '#payDate'
        })
        var index = 1
        var cache = {}

        function renderSelect(name) {
            var cacheData = cache[name] = {}
            admin.req({
                type: 'get',
                url: '/api/' + name + 's?page=1&pageSize=999&name=&status=true',
                success: function (res) {
                    var selectEle = $('#' + name)
                    var selected = selectEle.val()
                    res.data.forEach(function (item) {
                        cacheData[item.name] = item
                        if (item.name == selected) return
                        var opt = $('<option></option>')
                        opt.text(item.name)
                        opt.attr('value', item.name)
                        selectEle.append(opt)
                    })
                    index--
                    if (!index) {
                        form.render('select')
                        $('#ajaxLoadingIco').hide()
                    }
                }
            })
        }
        renderSelect('cost')

        form.on('select(cost)', function (data) {
            if (data.value) {
                var name = data.value
                var price = cache['cost'][name].price || 0
                $('#price').val(price)
            } else {
                $('#price').val('')
            }

        });
        /* 监听提交 */
        form.on('submit(submit)', function (data) {
            var field = data.field
            field.state = !!field.state
            if (!field.state) field.payDate = null
            field.cost = {
                name: field.cost,
                payDate: field.payDate,
                price: field.price,
                remark: field.remark,
                state: field.state,
            }
            admin.req({
                type: 'post',
                url: '/api/carStudents/costs',
                data: field,
                success: function (res) {
                    layer.msg('保存成功')
                }
            })
            // if (carStudentId) {
            //     admin.req({
            //         type: 'put',
            //         url: '/api/carStudents/' + carStudentId,
            //         data: field,
            //         success: function (res) {
            //             layer.msg('保存成功')
            //         }
            //     })
            // } else {
            //     admin.req({
            //         type: 'post',
            //         url: '/api/carStudents',
            //         data: field,
            //         success: function (res) {
            //             $('#rest')[0].click()
            //             layer.msg('保存成功')
            //         }
            //     })
            // }
            return false;
        });
        form.on('switch(state)', function (data) {
            if (data.elem.checked) {
                $('#payDateArea').show()
            } else {
                $('#payDateArea').hide()
                $('#payDate').val(util.toDateString(new Date(), 'yyyy-MM-dd'))
                laydate.render({
                    elem: '#payDate'
                })
            }
        });

    })
</script>
{% endblock %}