{% extends '../template/layout2.html' %}
{% block link %}
<link rel="stylesheet" href="/css/metroStyle/metroStyle.css" type="text/css">
{% endblock %}
{% block content %}
<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"
                value="{{role.name}}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-inline">
            <ul id="treeDemo" class="ztree"></ul>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <textarea name="remark" lay-verify="" style="width: 400px; height: 150px;" autocomplete="off" class="layui-textarea">{{role.remark}}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/js/jquery.ztree.excheck.js"></script>
<script>
    // 定义权限 sign 名不能有`,`
    var authority = '{{role.authority.join(",")}}'
    authority += ','
    var treeObj = null
    $(function () {
        $.get('/api/menus?page=1&pageSize=9999&show=true').then(function (res) {
            res.data.forEach(function (item) {
                if (item.parent) {
                    item.pId = item.parent.sign
                }
                if (!item.url) item.open = true
                delete item.url
                item.id = item.sign
                if (~authority.indexOf(item.sign + ',')) {
                    item.checked = true
                }
            })
            var zNodes = res.data
            var setting = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            }
            $(document).ready(function () {
                treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                // var treeObj = $.fn.zTree.getZTreeObj("tree");
                // var nodes = treeObj.getChangeCheckedNodes();
            });

        })
    })
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'js/lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$,
            admin = layui.admin
        form = layui.form;
        form.on('submit()', function (data) {
            $('input[type=checkbox]').each(function (index, ele) {
                ele = $(ele)
                var key = ele.attr('name')
                data.field[key] = data.field[key] || false
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })
        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name) //先得到当前iframe层的索引
            var checkAuthList = treeObj.getCheckedNodes(true)
            field.authority = []
            checkAuthList.forEach(function(item) {
                field.authority.push(item.sign)
            })
            console.log(field)
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            admin.req({
                type: 'post',
                url: '/api/roles',
                data: field,
                success: function (res) {
                    parent.layui.table.reload('LAY-app-content-list'); //重载表格
                    parent.layer.close(index); //再执行关闭 
                }
            })
        })
    })
</script>
{% endblock %}