{% extends '../template/layout2.html' %}
{% block link %}
<style>
    body {
        background: #fff;
    }
</style>
{% endblock %}
{% block content %}
<form class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" id="carTrainerId" value="{{carTrainer.id}}">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" value="{{carTrainer.name}}" lay-verify="required" placeholder=""
                    minlength="1" maxlength="10" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label required">身份证</label>
            <div class="layui-input-inline">
                <input type="text" name="card" value="{{carTrainer.card}}" lay-verify="identity" placeholder=""
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label required">手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" value="{{carTrainer.phone}}" lay-verify="phone" placeholder=""
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="radio" name="sex" value="男" title="男" {% if carTrainer.sex=='男' || !carTrainer.sex %}
                    checked="checked" {% endif %}>
                <input type="radio" name="sex" value="女" title="女" {% if carTrainer.sex=='女' %} checked="checked" {%
                    endif %}>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">培训科目</label>
            <div class="layui-input-block">
                <input type="checkbox" name="subjects" title="科目二" value="科目二" {% if carTrainer.subjects &&
                    carTrainer.subjects.includes('科目二') %} checked="checked" {% endif %}>
                <input type="checkbox" name="subjects" title="科目三" value="科目三" {% if carTrainer.subjects &&
                    carTrainer.subjects.includes('科目三') %} checked="checked" {% endif %}>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">培训车型</label>
            <div class="layui-input-block">
                <input type="checkbox" name="carTypes" title="C1" value="C1" {% if carTrainer.carTypes &&
                    carTrainer.carTypes.includes('C1') %} checked="checked" {% endif %}>
                <input type="checkbox" name="carTypes" title="C2" value="C2" {% if carTrainer.carTypes &&
                    carTrainer.carTypes.includes('C2') %} checked="checked" {% endif %}>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="checkbox" lay-verify="required" lay-filter="status" name="status" lay-skin="switch"
                    lay-text="启用|不启用" value="true" {% if carTrainer.status %} checked="checked" {% endif %}> </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            {% if carTrainer.id %}
            <button class="layui-btn" lay-submit="" lay-filter="submit">保存编辑</button>
            {% endif %}
            {% if !carTrainer.id %} <button class="layui-btn" lay-submit="" lay-filter="submit">添加教练</button>
            {% endif %}
            <button type="reset" class="layui-btn layui-btn-primary" id="rest">重置</button>
        </div>
    </div>
</form>
{% endblock %}
{% block script %}
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'js/lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
        var admin = layui.admin
        var form = layui.form
        var layer = layui.layer

        /* 监听提交 */
        form.on('submit(submit)', function (data) {
            var field = data.field
            field.subjects = getCheckBoxVal('subjects')
            field.carTypes = getCheckBoxVal('carTypes')
            field.status = !!field.status
            var carTrainerId = $('#carTrainerId').val()
            if (carTrainerId) {
                admin.req({
                    type: 'put',
                    url: '/api/carTrainers/' + carTrainerId,
                    data: field,
                    success: function (res) {
                        layer.msg('保存成功')
                    }
                })
            } else {
                admin.req({
                    type: 'post',
                    url: '/api/carTrainers',
                    data: field,
                    success: function (res) {
                        $('#rest')[0].click()
                        layer.msg('保存成功')
                    }
                })
            }
            return false;
        });

        function getCheckBoxVal(name) {
            var valArr = []
            $('[name=' + name + ']').each(function (index, ele) {
                if ($(ele).prop('checked')) {
                    valArr.push($(ele).val())
                }
            })
            return valArr
        }
    })
</script>
{% endblock %}